/Source/UI/SEP.UI/SEP.HRMIS.Presenter/bin
/Source/UI/SEP.UI/SEP.HRMIS.Presenter/obj
/Source/UI/SEP.UI/SEP.Performance/bin
/Source/UI/SEP.UI/SEP.Performance/obj
/Source/UI/SEP.UI/SEP.Presenter/obj
/Source/UI/SEP.UI/SEP.Presenter/bin
/Source/UI/SEP.UI/SEP.Presenter.Core/obj
/Source/UI/SEP.UI/SEP.Presenter.Core/bin
/Source/UI/SEP.UI/SetupClassLibrary/obj
/Source/UI/SEP.UI/SetupClassLibrary/bin
/Source/UI/SEP.UI/SEP.SetUp/Release
/Source/UI/SEP.UI/SEP.SetUp/Debug
