/Source/UI/SEP.UI/SEP.HRMIS.Presenter/bin
/Source/UI/SEP.UI/SEP.HRMIS.Presenter/obj
/Source/UI/SEP.UI/SEP.Performance/bin
/Source/UI/SEP.UI/SEP.Performance/obj
/Source/UI/SEP.UI/SEP.Presenter/obj
/Source/UI/SEP.UI/SEP.Presenter/bin
/Source/UI/SEP.UI/SEP.Presenter.Core/obj
/Source/UI/SEP.UI/SEP.Presenter.Core/bin
/Source/UI/SEP.UI/SetupClassLibrary/obj
/Source/UI/SEP.UI/SetupClassLibrary/bin
/Source/UI/SEP.UI/SEP.SetUp/Release
/Source/UI/SEP.UI/SEP.SetUp/Debug
/Source/Bussiness/SEP.HRMIS/SEP.HRMIS.BllUnitTest
/Source/Bussiness/SEP.HRMIS/SEP.HRMIS.Bll/bin/Debug
/Source/Bussiness/SEP.HRMIS/SEP.HRMIS.Bll/obj/Debug
/Source/Bussiness/SEP.HRMIS/SEP.HRMIS.DalFactory/bin/Debug
/Source/Bussiness/SEP.HRMIS/SEP.HRMIS.DalFactory/obj
/Source/Bussiness/SEP.HRMIS/SEP.HRMIS.DalFactory/bin
/Source/Bussiness/SEP.HRMIS/SEP.HRMIS.DataAccess/obj
/Source/Bussiness/SEP.HRMIS/SEP.HRMIS.DataAccess/bin
/Source/Bussiness/SEP.HRMIS/SEP.HRMIS.Entity/obj
/Source/Bussiness/SEP.HRMIS/SEP.HRMIS.Entity/bin
/Source/Bussiness/SEP.HRMIS/SEP.HRMIS.Facade/obj
/Source/Bussiness/SEP.HRMIS/SEP.HRMIS.Facade/bin
/Source/Bussiness/SEP.HRMIS/SEP.HRMIS.IDal/obj
/Source/Bussiness/SEP.HRMIS/SEP.HRMIS.IDal/bin
/Source/Bussiness/SEP.HRMIS/SEP.HRMIS.Logic/obj
/Source/Bussiness/SEP.HRMIS/SEP.HRMIS.Logic/bin
/Source/Bussiness/SEP.HRMIS/SEP.HRMIS.Model/obj
/Source/Bussiness/SEP.HRMIS/SEP.HRMIS.Model/bin
/Source/Bussiness/SEP.HRMIS/SEP.HRMIS.SqlServerDal/obj
/Source/Bussiness/SEP.HRMIS/SEP.HRMIS.SqlServerDal/bin
/Source/Bussiness/SEP/SEP.Bll/obj/Debug
/Source/Bussiness/SEP/SEP.Model/obj/Debug
/Source/Bussiness/SEP/SEP.IBll.Test/obj/Debug
/Source/Bussiness/SEP/SEP.IBll/obj/Debug
/Source/Bussiness/SEP/SEP.IDal/obj/Debug
/Source/Bussiness/SEP/SEP.SqlServerDal/obj/Debug
/Source/Bussiness/SEP.HRMIS/SEP.HRMIS.suo
