/Source/Core/MailConsoleHost/bin/Debug
/Source/Core/Evaluant.Calculator/obj/Debug
/Source/Core/Evaluant.Calculator.UnitTest/obj/Debug
/Source/Core/Evaluant.Calculator.Extensions.UnitTest/obj/Debug
/Source/Core/Mail.UnitTest/obj/Debug
/Source/Core/ShiXin.SecurityUnitTest/obj/Debug
/Source/Core/MailConsoleHost/bin/Release
/Source/Core/Mail/bin/Release
/Source/Core/Mail/bin/Debug
/Source/Core/MailConsoleHost/obj/Debug
/Source/Core/MailWindowsService/bin/Release
/Source/Core/MailWindowsService/obj/Debug
/Source/Core/Mail/obj/Debug
/Source/Core/MailWindowsService/bin/Debug
/Source/Core/MailConsoleHost/obj/Release
/Source/Core/MailWindowsService/obj/Release
/Source/Core/Mail.UnitTest/obj/Release
/Source/Core/ShiXin.Security/obj/Debug
/Source/Core/Mail/obj/Release
/Source/Core/ShiXin.SecurityUnitTest/obj/Release
/Source/Core/Evaluant.Calculator/obj
/Source/Core/Evaluant.Calculator/bin
/Source/Core/Mail/bin
/Source/Core/Mail/obj
/Source/Build
/Source/Bussiness/SEP/_ReSharper.SEP
/Source/Bussiness/SEP/_UpgradeReport_Files
/Source/Bussiness/SEP/SEP.5.1.ReSharper.user
/Source/Bussiness/SEP/SEP.SqlServerDal/bin
/Source/Bussiness/SEP/SEP.SqlServerDal/obj
/Source/Bussiness/SEP/SEP.Model/bin
/Source/Bussiness/SEP/SEP.Model/obj
/Source/Bussiness/SEP/SEP.IDal/bin
/Source/Bussiness/SEP/SEP.IDal/obj
/Source/Bussiness/SEP/SEP.IBll.Test/bin
/Source/Bussiness/SEP/SEP.IBll.Test/obj
/Source/Bussiness/SEP/SEP.IBll/bin
/Source/Bussiness/SEP/SEP.IBll/obj
/Source/Bussiness/SEP/SEP.Bll/bin
/Source/Bussiness/SEP/SEP.Bll/obj
/Source/Bussiness/SEP.HRMIS/SEP.HRMIS.sln.docstates.suo
/Source/Bussiness/SEP.HRMIS/SEP.HRMIS.sln.DotSettings.user
/Source/Bussiness/SEP.HRMIS/SEP.HRMIS.suo
/Source/Bussiness/SEP.HRMIS/_ReSharper.SEP.HRMIS
/Source/Bussiness/SEP.HRMIS/bin
/Source/Bussiness/SEP.HRMIS/SEP.HRMIS.5.1.ReSharper.user
/Source/Bussiness/SEP.HRMIS/ExportDate
/Source/Bussiness/SEP.HRMIS/SEP.HRMIS.Bll/obj
/Source/Bussiness/SEP.HRMIS/SEP.HRMIS.Bll/bin
/Source/Bussiness/SEP.HRMIS/SEP.HRMIS.BllUnitTest/obj
/Source/Bussiness/SEP.HRMIS/SEP.HRMIS.BllUnitTest/bin
/Source/Bussiness/SEP.HRMIS/SEP.HRMIS.DalFactory/obj
/Source/Bussiness/SEP.HRMIS/SEP.HRMIS.DalFactory/bin
/Source/Bussiness/SEP.HRMIS/SEP.HRMIS.DataAccess/bin
/Source/Bussiness/SEP.HRMIS/SEP.HRMIS.DataAccess/obj
/Source/Bussiness/SEP.HRMIS/SEP.HRMIS.Entity/bin
/Source/Bussiness/SEP.HRMIS/SEP.HRMIS.Entity/obj
/Source/Bussiness/SEP.HRMIS/SEP.HRMIS.Facade/obj
/Source/Bussiness/SEP.HRMIS/SEP.HRMIS.Facade/bin
/Source/Bussiness/SEP.HRMIS/SEP.HRMIS.ModelUnitTest
/Source/Bussiness/SEP.HRMIS/SEP.HRMIS.SqlServerDalUnitTest
/Source/Bussiness/SEP.HRMIS/SEP.HRMIS.IDal/obj
/Source/Bussiness/SEP.HRMIS/SEP.HRMIS.IDal/bin
/Source/Bussiness/SEP.HRMIS/SEP.HRMIS.Logic/bin
/Source/Bussiness/SEP.HRMIS/SEP.HRMIS.Logic/obj
/Source/Bussiness/SEP.HRMIS/SEP.HRMIS.Model/obj
/Source/Bussiness/SEP.HRMIS/SEP.HRMIS.Model/bin
/Source/Bussiness/SEP.HRMIS/SEP.HRMIS.SqlServerDal/bin
/Source/Bussiness/SEP.HRMIS/SEP.HRMIS.SqlServerDal/obj
/Source/Bussiness/SEP.HRMIS/Test
/Source/TransferData
/Source/UI/SEP.UI/SEP.HRMIS.Presenter/obj
/Source/UI/SEP.UI/SEP.HRMIS.Presenter/bin
/Source/UI/SEP.UI/SEP.Performance/obj
/Source/UI/SEP.UI/SEP.Performance/bin
/Source/UI/SEP.UI/SEP.Presenter/obj
/Source/UI/SEP.UI/SEP.Presenter/bin
/Source/UI/SEP.UI/SEP.Presenter.Core/obj
/Source/UI/SEP.UI/SEP.Presenter.Core/bin
/Source/UI/SEP.UI/SEP.SetUp/Release
/Source/UI/SEP.UI/SEP.SetUp/Debug
/Source/UI/SEP.UI/SetupClassLibrary/obj
/Source/UI/SEP.UI/SetupClassLibrary/bin
/Source/Core/ShiXin.Security/obj/Release
/Source/UI/SEP.UI/SEP.UI.sln.docstates.suo
/Source/Core/MailConsoleHost/bin
/Source/Core/MailConsoleHost/obj

/Source/UI/SEP.UI/SEP.HRMIS.Presenter/Service References
/Source/UI/SEP.WCF/ReadDataFromOA/ConsoleApplication1/obj
/Source/UI/SEP.WCF/ReadDataFromOA/ConsoleApplication1/bin
/Source/UI/SEP.WCF/ReadDataFromOA/ReadDataFromAccessClient/bin
/Source/UI/SEP.WCF/ReadDataFromOA/ReadDataFromAccessClient/obj
/Source/UI/SEP.WCF/ReadDataFromOA/ReadDataFromAccessService/obj
/Source/UI/SEP.WCF/ReadDataFromOA/ReadDataFromAccessService/bin
/Source/UI/SEP.WCF/ReadDataFromOA/ReadDataFromAccessWindowsService/obj
/Source/UI/SEP.WCF/ReadDataFromOA/ReadDataFromAccessWindowsService/bin
/Source/UI/SEP.WCF/ReadDataFromOA/WindowsServerTest/obj
/Source/UI/SEP.WCF/ReadDataFromOA/WindowsServerTest/bin
/Source/UI/SEP.WCF/ReadDataFromOA/*.user
/Source/Bussiness/SEP.HRMIS/SEP.HRMIS.IFacede/bin
/Source/Bussiness/SEP.HRMIS/SEP.HRMIS.IFacede/obj
/Source/Bussiness/SEP.HRMIS/SEP.HRMIS.BllUnitTest
/Source/UI/SEP.UI/SEP.UI.suo

/Source/UI/SEP.UI/SEP.UI.suo
/Source/UI/SEP.WindowsServer/SEP.AutoRemindServer/obj
/Source/UI/SEP.WindowsServer/SEP.AutoRemindServer/bin
/Source/UI/SEP.WindowsServer/SEP.ReadExternalAttendanceData/obj
/Source/UI/SEP.WindowsServer/SEP.ReadExternalAttendanceData/bin
/Source/UI/SEP.WindowsServer/SetupClassLibrary/obj
/Source/UI/SEP.WindowsServer/SetupClassLibrary/bin
/Source/UI/SEP.WindowsServer/SEP.Server.SetUp/Release
/Source/UI/SEP.WindowsServer/SEP.Server.SetUp/Debug
/Source/UI/SEP.WindowsServer/SEP.WindowsServer.suo
/Source/UI/SEP.WindowsServer/SEP.WindowsServer.sln.DotSettings.user
/Source/UI/SEP.WindowsServer/SEP.WindowsServer.sln.docstates.suo
/Source/UI/SEP.UI/SEP.UI.sln.DotSettings.user
/Source/UI/SEP.UI/FacadeTest/*.user
/Source/UI/SEP.UI/FacadeTest/bin/Debug
/Source/UI/SEP.UI/FacadeTest/obj/Debug
