<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--系统的标识符-->
  <SYSTEMID>hrmisId1</SYSTEMID>
  <!--发送邮件的帐号-->
  <!--默认的系统发信源Mail地址-->
  <SYSTEMMAILADDRESS>hr@shixintech.com</SYSTEMMAILADDRESS>
  <!--默认的系统发信源解释-->
  <SYSTEMMAILCOMMAND>实信企业管理平台</SYSTEMMAILCOMMAND>
  <!--smtp服务器-->
  <SMTPHOST>mail.shixintech.com</SMTPHOST>
  <!--用户名凭证Mail地址-->
  <USERNAMEMAILADDRESS>hr@shixintech.com</USERNAMEMAILADDRESS>
  <!--用户名凭证密码-->
  <USERNAMEPASSWORD>7AsHs9wD</USERNAMEPASSWORD>
  <!--返回首页地址-->
  <LOCALHOSTADDRESS>http://www.shixintech.com/Pages/Login.aspx</LOCALHOSTADDRESS>
  <!--返回首页地址-->
  <ATTENDANCEISNORMALISINCLUDEOUTINTIME>true</ATTENDANCEISNORMALISINCLUDEOUTINTIME>
  <!--联系公司的电话-->
  <COMPANYTEL>(021)53836622</COMPANYTEL>
  <!--联系公司的传真-->
  <COMPANYFAX>(021)53831108</COMPANYFAX>
  <!--联系公司的Title-->
  <COMPANYTITLE>SX.Enterprise Platform.企业管理平台-ShiXin Enterprise Platform</COMPANYTITLE>
  <!--新建用户默认密码-->
  <DEFAULTPASSWORD>111111</DEFAULTPASSWORD>
  <!--帮助页面-->
  <HELPADDRESS>
  </HELPADDRESS>
  <MAILTOHR>luantianlin@shixintech.com</MAILTOHR>
</configuration>