<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--配置数据库连接，数据库请用@DbName@指定，测试程序会自动生成数据库用于测试-->
		<add key="ConnectionString" value="Integrated Security=SSPI;Initial Catalog=@DbName@;Data Source=localhost"/>
		<!--指定测试数据的临时默认存放地址-->
		<add key="TestTempDirectory" value="C:\TestTempData\"/>
	</appSettings>
</configuration>


