<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="IContactDA" value="DALayer.Impls.SqlServer; ComService.DALayer.Impls.SqlServer.ContactDA"/>
    <add key="IContactBiz" value="BizLayer.Impls; ComService.BizLayer.Impls.ContactRule"/>
    <!--数据库连接字符串-->
    <add key="ConnectionString" value="Integrated Security=SSPI;Initial Catalog=ContactService;Data Source=F\SQLEXPRESS"/>
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <!-- <bindings>
      <basicHttpBinding>
        <binding name="BindingConfig" maxBufferSize="6553600" maxReceivedMessageSize="6553600" />
      </basicHttpBinding>
    </bindings>
    <services>
    	<service name="ComService.ServiceContracts.Impls.ContactServices">
        <endpoint address="http://localhost/ComService/ContactServices.svc" binding="basicHttpBinding" bindingConfiguration="BindingConfig" contract="ComService.ServiceContracts.IContactServices" />
      </service>
    </services>-->
    <!-- <services>
      <service name="ComService.ServiceContracts.Impls.ContactServices" behaviorConfiguration="ContactServicesBehavior">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost/ComService/ContactServices.svc" />
          </baseAddresses>
        </host>
        <endpoint address ="" binding="wsHttpBinding" contract="ComService.ServiceContracts.IContactServices">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ContactServicesBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="ContactServicesBehavior">
          <serviceMetadata httpGetEnabled ="true"></serviceMetadata>
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
<bindings>
      <basicHttpBinding>
        <binding name="basicHttp" maxReceivedMessageSize ="50000000">
          <readerQuotas maxDepth="500000000" maxArrayLength="500000000" maxBytesPerRead="500000000"
           maxNameTableCharCount="500000000" maxStringContentLength="500000000"/>
        </binding>
      </basicHttpBinding>
    </bindings>

    <services>
      <service name="ComService.ServiceContracts.Impls.ContactServices" behaviorConfiguration="ContactServicesBehavior">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:8080/ContactService" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="ComService.ServiceContracts.IContactServices" bindingConfiguration="basicHttp" ></endpoint>
      </service>
    </services>
  </system.serviceModel>
</configuration>
