<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<appSettings>
		<add key="EShopping" value="SEP.EShopping.SqlServerDal"/>
		<add key="EShoppingConnectionString" value="Integrated Security=SSPI;Initial Catalog=EShopping;Data Source=.\SQLEXPRESS"/>
	</appSettings>
</configuration>