<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DbUserName" value="***"/>
		<add key="DbPassword" value="***"/>
		<add key="DbServer" value="***"/>
		<add key="Db" value="***"/>
		<add key="CreateDbScript" value="***"/>
		<add key="InitialDataScript" value="***"/>
		
		<add key="MyCMMIWebDAL" value="SEP.MyCMMI.SqlServerDal"/>
		<add key="MyCMMIConnectionString" value="Integrated Security=SSPI;Initial Catalog=***;Data Source=***"/>
	</appSettings>
</configuration>