<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<appSettings>
		<add key="HrmisDAL" value="SEP.HRMIS.SqlServerDal"/>
		<add key="HRMISConnectionString" value="User Id=sa;Password=sa;Initial Catalog= *** ;Data Source=localhost"/>
	</appSettings>
</configuration>