<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--数据库链接  开发人员需根据自己机器设置-->
		<add key="ConnectionString" value="User Id=*****;Password=*****;Initial Catalog=*****;Data Source=*****"/>
		<!--类工厂-->
		<add key="SEPDal" value="SEP.SqlServerDal"/>
		<add key="SEPBll" value="SEP.Bll"/>
	</appSettings>
</configuration>