<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="ReadDataFromAccessService.ReadIODataFromAccess" behaviorConfiguration="MyServiceTypeBehaviors">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8000/ReadIODataFromAccess/"/>
					</baseAddresses>
				</host>
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="bindingSettings" contract="ReadDataFromAccessService.IReadData"/>
			</service>
		</services>
		<bindings>
			<basicHttpBinding>
				<binding name="bindingSettings" messageEncoding="Text"/>
			</basicHttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="MyServiceTypeBehaviors" >
					<serviceMetadata httpGetEnabled="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	<appSettings>
		<add key="OleDbConnection" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Documents and Settings\Administrator\桌面\Agms.mdb;Jet OLEDB:Database Password=databasepw;Persist Security Info=False"/>
	   </appSettings>
	<system.web>
		<httpRuntime maxRequestLength="10240000"/>
	</system.web>
</configuration>