<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Mail.SendMail" behaviorConfiguration="MyServiceTypeBehaviors">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8899/MailService/"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttp"  contract="Mail.ISendMail"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceTypeBehaviors" >
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttp" maxReceivedMessageSize ="50000000">
          <readerQuotas maxDepth="500000000" maxArrayLength="500000000" maxBytesPerRead="500000000"
           maxNameTableCharCount="500000000" maxStringContentLength="500000000"/>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>