<?xml version="1.0" encoding="utf-8" ?>
<cache>
    <!--enabled: true启用该服务器缓存功能，false禁用该服务器缓存功能-->
    <server name="server1" enabled="true">
        <properties><!--memcached相关设置-->
            <server-list>127.0.0.1:11211</server-list><!--服务器列表（cluster），多个服务器集群以逗号分隔-->
            <weights>1</weights><!--缓存容量设置-->
            <init-connections>5</init-connections><!--初始化连接数-->
            <min-connections>5</min-connections><!--最小连接数-->
            <max-connections>100</max-connections><!--最大连接数-->
            <max-idle>180000</max-idle><!--socket连接最大空闲时间（超过最大空闲时间会释放socket连接），单位为毫秒-->
            <socket-timeout>1500</socket-timeout><!--socket通讯超时时间，.NET版本中没有用，单位为毫秒-->
            <socket-connection-timeout>1000</socket-connection-timeout><!--建立socket连接的超时时间，单位为毫秒-->
            <maitainance-sleep>30000</maitainance-sleep><!--维护进程间歇时间，单位毫秒-->
            <max-busy>2000</max-busy><!--socket进程最大通讯时间，单位毫秒-->
        </properties>
        <!--
            timeout: 存入该region的数据项缓存过期时间，单位为秒
            enabled: true启用该region缓存功能，false禁用该region缓存功能
            prefix: 为避免缓存键值冲突，将以region为基础在客户端提供的缓存键值前面添加这个前缀
                比如region为contact和order的prefix分别配置为cont和ord，假如有个contact对象id为111，还有一个order对象id也为111
                则他们存入缓存的键值将分别为cont-111和ord-111
        -->
        <region name="redefalut" timeout="1200" prefix="rgdef-" enabled="true" />
    </server>
</cache>