<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="User Id=sa;Password=1qa2ws3ed;Initial Catalog=sep;Data Source=localhost"/>
    <add key="MyCMMIConnectionString" value="User Id=**;Password=***;Initial Catalog=***;Data Source=***"/>
    <add key="CrmConnectionString" value="User Id=***;Password=***;Initial Catalog=***;Data Source=***"/>
    <add key="HRMISConnectionString" value="Data Source=.;Initial Catalog=hrmis;Persist Security Info=True;User ID=sa;Password=1qa2ws3ed"/>
    <add key="EShoppingConnectionString" value="Integrated Security=SSPI;Initial Catalog=***;Data Source=***"/>
    <add key="SEPDal" value="SEP.SqlServerDal"/>
    <add key="SEPBll" value="SEP.Bll"/>
    <add key="CRMFacade" value="SEP.CRM.Facade"/>
    <add key="MyCMMIFacade" value="SEP.MyCMMI.Facade"/>
    <add key="MyCMMIWebDAL" value="SEP.MyCMMI.SqlServerDal"/>
  </appSettings>
</configuration>